#customize-control-ssf_fontsize, #customize-control-ssf_fontweight, #customize-control-ssf_fontstyle, #customize-control-ssf_transform
{
	width: 48% !important;
    clear: none !important;
    padding-right: 5px !important;
}