#spice-footer-bar .spice-text li{color: #ffffff;padding: 8px 15px 6px;}
#spice-footer-bar .spice-text p, #spice-footer-bar .spice-text a {color: #ffffff; }
#spice-footer-bar .spice-text a:hover {color: #ff6f61; }
#spice-footer-bar ul{list-style: none;float: left;margin: 0;}
#spice-footer-bar .spice-btn a{
    display: block;
    background-color: transparent;
    padding: 0;
    border: 0;
    font-size: 16px;
    width: 50px;
    height: 100%;
    line-height: 40px;
    text-align: center;
   background-color: #ff6f61;
   color: #f9a69d;
  }
  body .site-footer{
 position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 40px;
    max-height: 40px;
    text-align: left;
    z-index: 1004;
    box-shadow: 0 0 8px rgb(0 0 0 / 10%);
    transition: all 0.5s ease;  
  }

body .footer-sticky{max-height: 700px;transition: all 0.5s ease; }

#spice-footer-bar::after{clear: both;display: table;content: " ";}
@media only screen and (max-width: 480px){
.spice-footer-icom {
    display: none;
}}
@media only screen and (max-width: 959px){
body .site-footer {
    position: relative;
    min-height: 100%;
    max-height: 100%;
    width: 100% !important;
    left: auto !important;
    margin: 0 !important;
    z-index: 998;
}
.spice-footer-icom{display: none;}
.hide-from-spice-footer {
    display: none;
}
}
@media only screen and (max-width: 480px){
.hide-from-spice-footer {
    display: none;
}}